aiohttp==3.8.3
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
frozenlist==1.3.3
idna==3.4
importlib-metadata==4.13.0
msgpack==1.0.4
multidict==6.0.2
nanoid==2.0.0
packaging==21.3
PyExecJS==1.5.1
Pygments==2.13.0
pyparsing==3.0.9
pyTwistyScrambler==1.6
rich==13.0.0
six==1.16.0
textual==0.9.1
yarl==1.8.1
zipp==3.10.0
